
<div class="left" id="left">
    <div class="menu">
        <ul class="navbar-nav flex-grow-1" id="main-menu">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý thành viên</a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/HocSinh">Học sinh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/GiaoVien">Giáo viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/TaiKhoanAdmin">Tài khoản Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/TaiKhoanHS">Tài khoản Học Sinh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/TaiKhoanGV">Tài khoản giáo viên</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý lớp</a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Lop">Lớp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/MonHoc">Môn học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/khoaHoc">Khoá học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Diem">Điểm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/TKB">Thời khoá biểu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/PhoDiem">Phổ điểm</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
