
<div class="left" id="left">
    <div class="menu">
        <ul class="navbar-nav flex-grow-1" id="main-menu">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/TKB">Thời khoá biểu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/HocSinh">Thông tin học sinh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Lop">Thông tin lớp học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Diem">Bảng điểm</a>
            </li>
        </ul>
    </div>
</div>
