
<div class="left" id="left">
    <div class="menu">
        <ul class="navbar-nav flex-grow-1" id="main-menu">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#">Tiện ích</a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/TKB">Lịch dạy</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
